<mat-toolbar color="primary" class="action">
  <div class="flex-center">
    <button mat-raised-button class="mr">Select all</button>
    <button mat-raised-button class="mr">Delete</button>
    <mat-form-field appearance="fill">
      <mat-label>Sorting order:</mat-label>
      <mat-select>
        <mat-option value="a-z">a-z</mat-option>
        <mat-option value="z-a">z-a</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <form>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput placeholder="search" />
      </mat-form-field>
    </form>
  </div>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <p>user works!</p>
  </mat-card-content>
</mat-card>
